.zx-steper {
    width: 6.3rem;
    margin: 0 auto;
}
.zx-steper .zx-steper-navigator {
    display: flex;
    align-items: center;
    margin: 0.22rem auto 0.18rem;
    font-size: 0.24rem;
    color: #98a1a9;
    letter-spacing: 0;
    text-align: right;
    font-weight: 400;
}
.zx-steper .zx-steper-navigator > div {
    flex: 1;
    position: relative;
    text-align: center;
}
.zx-steper .zx-steper-navigator > div::after {
    content: '';
    display: block;
    height: 0.28rem;
    width: 0.28rem;
    background-image: url(../img/right_icon.png);
    background-size: 100% 100%;
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -0.14rem;
}
.zx-steper .zx-steper-navigator > div:last-child::after {
    display: none;
}
.zx-steper .zx-steper-progroess {
    background: #f5f6f9;
    border-radius: 0.04rem;
    width: 100%;
    height: 0.08rem;
    position: relative;
}
.zx-steper .zx-steper-progroess .zx-steper-progroess-bar {
    background-image: linear-gradient(90deg, #ff3542 50%, #ff8989 100%);
    border-radius: 0.04rem;
    height: 0.08rem;
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
}
.zx-steper .zx-steper-index {
    background-image: linear-gradient(90deg, #ff3542 50%, #ff8989 100%);
    border-radius: 0.16rem;
    color: #fff;
    font-family: CITIC-Numbers-Medium;
    font-size: 0.28rem;
    color: #ffffff;
    letter-spacing: 0;
    text-align: center;
    font-weight: 500;
    width: 0.68rem;
    height: 0.32rem;
    line-height: 0.32rem;
    position: absolute;
    top: 50%;
    z-index: 8;
    margin-top: -0.16rem;
    margin-left: -0.34rem;
}
